img {
    width: 30%;
    height: 300px;
    float: left;
    margin: 1.66%;
    /* background-size: cover;
    background-position: center; */
}

h1 {
    margin-left: 1.66%;
    font-family: lato;
}

hr {
    width: 30%;
    margin-right: 68.3%;
    color: gray;
    height: 2px;
}

body {
    background: rgba(119, 136, 153, 0.377);
}